@charset "UTF-8";
.dt-typography p, .theme-base p, .theme-default p, .theme-thaiWitter p, .dt-typography ul, .theme-base ul, .theme-default ul, .theme-thaiWitter ul, .dt-typography ol, .theme-base ol, .theme-default ol, .theme-thaiWitter ol, .dt-typography pre, .theme-base pre, .theme-default pre, .theme-thaiWitter pre {
  margin: 1em 0;
  padding: 0; }
.dt-typography ul ul, .theme-base ul ul, .theme-default ul ul, .theme-thaiWitter ul ul, .dt-typography ul ol, .theme-base ul ol, .theme-default ul ol, .theme-thaiWitter ul ol, .dt-typography ol ul, .theme-base ol ul, .theme-default ol ul, .theme-thaiWitter ol ul, .dt-typography ol ol, .theme-base ol ol, .theme-default ol ol, .theme-thaiWitter ol ol {
  margin: 0.2em 0; }
.dt-typography h1, .theme-base h1, .theme-default h1, .theme-thaiWitter h1, .dt-typography h2, .theme-base h2, .theme-default h2, .theme-thaiWitter h2 {
  margin: 0.5em 0; }
.dt-typography h2, .theme-base h2, .theme-default h2, .theme-thaiWitter h2 {
  margin-top: 2em;
  padding-top: 1.5em; }
.dt-typography ul, .theme-base ul, .theme-default ul, .theme-thaiWitter ul, .dt-typography ol, .theme-base ol, .theme-default ol, .theme-thaiWitter ol, .dt-typography pre, .theme-base pre, .theme-default pre, .theme-thaiWitter pre {
  padding-left: 2.5em; }

.theme-base body, .theme-default body, .theme-thaiWitter body {
  line-height: 1.8;
  font-size: 12.5pt;
  text-align: center;
  margin: 0;
  padding: 0; }
.theme-base #dtdocs-content, .theme-default #dtdocs-content, .theme-thaiWitter #dtdocs-content {
  margin: 0 auto;
  padding-bottom: 5em;
  width: 720px;
  text-align: left; }
.theme-base #dtdocs-title, .theme-default #dtdocs-title, .theme-thaiWitter #dtdocs-title {
  font-size: 10pt;
  line-height: 1.03em;
  text-align: left;
  padding: 0 5px; }
  .theme-base #dtdocs-title #dtdocs-breadcrumb, .theme-default #dtdocs-title #dtdocs-breadcrumb, .theme-thaiWitter #dtdocs-title #dtdocs-breadcrumb {
    float: right; }
  .theme-base #dtdocs-title .name, .theme-default #dtdocs-title .name, .theme-thaiWitter #dtdocs-title .name, .theme-base #dtdocs-title .separator, .theme-default #dtdocs-title .separator, .theme-thaiWitter #dtdocs-title .separator, .theme-base #dtdocs-title strong, .theme-default #dtdocs-title strong, .theme-thaiWitter #dtdocs-title strong, .theme-base #dtdocs-title a, .theme-default #dtdocs-title a, .theme-thaiWitter #dtdocs-title a {
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto; }
    .theme-base #dtdocs-title .name, .theme-default #dtdocs-title .name, .theme-thaiWitter #dtdocs-title .name, .theme-base #dtdocs-title .separator, .theme-default #dtdocs-title .separator, .theme-thaiWitter #dtdocs-title .separator, .theme-base #dtdocs-title strong, .theme-default #dtdocs-title strong, .theme-thaiWitter #dtdocs-title strong, .theme-base #dtdocs-title a, .theme-default #dtdocs-title a, .theme-thaiWitter #dtdocs-title a {
      *display: inline; }
  .theme-base #dtdocs-title .name, .theme-default #dtdocs-title .name, .theme-thaiWitter #dtdocs-title .name, .theme-base #dtdocs-title strong, .theme-default #dtdocs-title strong, .theme-thaiWitter #dtdocs-title strong, .theme-base #dtdocs-title a, .theme-default #dtdocs-title a, .theme-thaiWitter #dtdocs-title a {
    padding: 5px 7px; }
  .theme-base #dtdocs-title .name, .theme-default #dtdocs-title .name, .theme-thaiWitter #dtdocs-title .name {
    font-weight: bold; }
.theme-base #dtdocs-footer, .theme-default #dtdocs-footer, .theme-thaiWitter #dtdocs-footer {
  padding: 20px; }
.theme-base #dtdocs-content .toc, .theme-default #dtdocs-content .toc, .theme-thaiWitter #dtdocs-content .toc {
  padding: 2ex 0.5ex;
  width: 50%; }
  .theme-base #dtdocs-content .toc li, .theme-default #dtdocs-content .toc li, .theme-thaiWitter #dtdocs-content .toc li {
    line-height: 1.5; }
  .theme-base #dtdocs-content .toc ul, .theme-default #dtdocs-content .toc ul, .theme-thaiWitter #dtdocs-content .toc ul, .theme-base #dtdocs-content .toc ol, .theme-default #dtdocs-content .toc ol, .theme-thaiWitter #dtdocs-content .toc ol, .theme-base #dtdocs-content .toc li, .theme-default #dtdocs-content .toc li, .theme-thaiWitter #dtdocs-content .toc li {
    margin-top: 0.8ex;
    margin-bottom: 0.8ex; }
.theme-base #dtdocs-content .welcome, .theme-default #dtdocs-content .welcome, .theme-thaiWitter #dtdocs-content .welcome, .theme-base #dtdocs-content .center, .theme-default #dtdocs-content .center, .theme-thaiWitter #dtdocs-content .center {
  text-align: center; }
.theme-base #dtdocs-content .caption, .theme-default #dtdocs-content .caption, .theme-thaiWitter #dtdocs-content .caption {
  text-align: center;
  font-style: italic;
  font-size: 0.9em;
  margin-top: -1em; }
.theme-base #dtdocs-content .image, .theme-default #dtdocs-content .image, .theme-thaiWitter #dtdocs-content .image {
  margin-left: 1px; }
.theme-base #dtdocs-content .image-container, .theme-default #dtdocs-content .image-container, .theme-thaiWitter #dtdocs-content .image-container {
  text-align: center; }
  .theme-base #dtdocs-content .image-container .image, .theme-default #dtdocs-content .image-container .image, .theme-thaiWitter #dtdocs-content .image-container .image {
    margin-left: 0; }
.theme-base #dtdocs-content h1, .theme-default #dtdocs-content h1, .theme-thaiWitter #dtdocs-content h1 {
  font: bold 30pt/1.2 Free Sans, FreeSans, Helvetica, Arial, sans-serif;
  text-align: center; }
.theme-base #dtdocs-content h2, .theme-default #dtdocs-content h2, .theme-thaiWitter #dtdocs-content h2 {
  font-size: 16pt; }
.theme-base #dtdocs-content pre, .theme-default #dtdocs-content pre, .theme-thaiWitter #dtdocs-content pre, .theme-base #dtdocs-content code, .theme-default #dtdocs-content code, .theme-thaiWitter #dtdocs-content code {
  font-family: Consolas, Monaco, Droid Sans Mono, Bitstream Vera Sans Mono, DejaVu Sans Mono, Courier New, sans-serif; }
.theme-base #dtdocs-content table, .theme-default #dtdocs-content table, .theme-thaiWitter #dtdocs-content table {
  margin: 0 auto;
  border-collapse: collapse; }
.theme-base #dtdocs-content .smalltoc ul, .theme-default #dtdocs-content .smalltoc ul, .theme-thaiWitter #dtdocs-content .smalltoc ul {
  display: block;
  list-style: none;
  font-size: 0.9em;
  line-height: 1.4; }
  .theme-base #dtdocs-content .smalltoc ul, .theme-default #dtdocs-content .smalltoc ul, .theme-thaiWitter #dtdocs-content .smalltoc ul, .theme-base #dtdocs-content .smalltoc ul li, .theme-default #dtdocs-content .smalltoc ul li, .theme-thaiWitter #dtdocs-content .smalltoc ul li {
    margin: 0;
    padding: 0; }
  .theme-base #dtdocs-content .smalltoc ul li, .theme-default #dtdocs-content .smalltoc ul li, .theme-thaiWitter #dtdocs-content .smalltoc ul li {
    display: inline;
    margin-right: 10px; }
    .theme-base #dtdocs-content .smalltoc ul li, .theme-default #dtdocs-content .smalltoc ul li, .theme-thaiWitter #dtdocs-content .smalltoc ul li, .theme-base #dtdocs-content .smalltoc ul li a, .theme-default #dtdocs-content .smalltoc ul li a, .theme-thaiWitter #dtdocs-content .smalltoc ul li a {
      text-decoration: none; }
    .theme-base #dtdocs-content .smalltoc ul li a, .theme-default #dtdocs-content .smalltoc ul li a, .theme-thaiWitter #dtdocs-content .smalltoc ul li a {
      white-space: nowrap; }
.theme-base #dtdocs-content .outline, .theme-default #dtdocs-content .outline, .theme-thaiWitter #dtdocs-content .outline {
  font-size: 1.4em; }
  .theme-base #dtdocs-content .outline ul, .theme-default #dtdocs-content .outline ul, .theme-thaiWitter #dtdocs-content .outline ul {
    font-size: 0.9em; }
  .theme-base #dtdocs-content .outline .smalltoc ul, .theme-default #dtdocs-content .outline .smalltoc ul, .theme-thaiWitter #dtdocs-content .outline .smalltoc ul {
    font-size: 0.714em; }
  .theme-base #dtdocs-content .outline li, .theme-default #dtdocs-content .outline li, .theme-thaiWitter #dtdocs-content .outline li {
    margin-bottom: 1em; }
    .theme-base #dtdocs-content .outline li li, .theme-default #dtdocs-content .outline li li, .theme-thaiWitter #dtdocs-content .outline li li {
      margin-bottom: 0; }

.theme-default body {
  background: #d9d5d0;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  font-size: 12.5pt;
  font-family: Georgia, Verdana, Tahoma, sans-serif; }
.theme-default a {
  color: #ba1800; }
.theme-default #dtdocs-title {
  background: #fff;
  border-bottom: 1px solid #CFCBC6; }
.theme-default #dtdocs-footer {
  color: #8b8685; }
  .theme-default #dtdocs-footer a {
    color: #966a63; }
.theme-default #dtdocs-content .toc {
  background: #EDE9E5;
  border: 1px solid #CFCBC6; }
.theme-default #dtdocs-content h1 {
  color: #8b8685; }
.theme-default #dtdocs-content h2 {
  color: #9053A7;
  border-top: 2px solid #efeeec; }
.theme-default #dtdocs-content .smalltoc ul li a {
  color: #706d6d; }
.theme-default #dtdocs-content pre, .theme-default #dtdocs-content code {
  font-size: 0.85em;
  color: #33a; }
.theme-default #dtdocs-content code {
  margin-left: 0.5ex;
  margin-right: 0.5ex; }

.theme-thaiWitter body {
  background: #353433;
  color: #e9e8e7;
  font-size: 10.5pt;
  font-family: Verdana, Tahoma, sans-serif; }
.theme-thaiWitter a {
  color: #ffb; }
.theme-thaiWitter #dtdocs-title {
  background: #090807;
  border-bottom: 1px solid #454443; }
  .theme-thaiWitter #dtdocs-title .separator {
    color: #b8b6b5; }
  .theme-thaiWitter #dtdocs-title .name {
    color: #d7fc70; }
  .theme-thaiWitter #dtdocs-title a {
    text-decoration: none;
    color: #e9e8e7; }
    .theme-thaiWitter #dtdocs-title a:hover {
      background: #454443; }
.theme-thaiWitter #dtdocs-footer {
  color: #555453; }
  .theme-thaiWitter #dtdocs-footer a {
    color: #656463; }
.theme-thaiWitter #dtdocs-content .toc {
  background: #252423;
  border: 1px solid #454443; }
.theme-thaiWitter #dtdocs-content .caption {
  color: #a7a3a2; }
.theme-thaiWitter #dtdocs-content h1 {
  color: #8b8685; }
.theme-thaiWitter #dtdocs-content h2 {
  color: #d7fc70;
  border-top: 2px solid #4e4c4b; }
.theme-thaiWitter #dtdocs-content code, .theme-thaiWitter #dtdocs-content pre {
  color: #80ef50; }
.theme-thaiWitter #dtdocs-content span.key {
  padding: 2px 3px;
  background: #454443;
  border: 1px solid #555453;
  border-width: 1px 2px 2px 1px;
  font-size: 0.9em; }
.theme-thaiWitter #dtdocs-content strong {
  color: #bbeeff; }
.theme-thaiWitter #dtdocs-content table td, .theme-thaiWitter #dtdocs-content table th {
  border: 1px solid #454443;
  padding: 3px; }
.theme-thaiWitter #dtdocs-content table .cat {
  text-align: center;
  background: #3c3b3a;
  font-weight: bold; }
.theme-thaiWitter #dtdocs-content .smalltoc ul li a {
  color: #bab7b6; }
