
@import "compass";

.dt-typography {
	p, ul, ol, pre {
		margin: 1em 0;
		padding: 0;
	}
	ul, ol {
		ul, ol {
			margin: 0.2em 0;
		}
	}
	h1, h2 {
		margin: 0.5em 0;
	}
	h2 {
		margin-top: 2em;
		padding-top: 1.5em;
	}
	ul, ol, pre {
		padding-left: 2.5em;
	}
}

.theme-base {
	@extend .dt-typography;
	body {
		line-height: 1.8;
		font-size: 12.5pt;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	#dtdocs-content {
		margin: 0 auto;
		padding-bottom: 5em;
		width: 720px;
		text-align: left;
	}
	#dtdocs-title {
		font-size: 10pt;
		line-height: 1.03em;
		text-align: left;
		padding: 0 5px;
		#dtdocs-breadcrumb {
			float: right;
		}
		.name, .separator, strong, a {
			@include inline-block;
		}
		.name, strong, a {
			padding: 5px 7px;
		}
		.name {
			font-weight: bold;
		}
	}
	#dtdocs-footer {
		padding: 20px;
	}
	#dtdocs-content {
		.toc {
			padding: 2ex 0.5ex;
			width: 50%;
			li {
				line-height: 1.5;
			}
			ul, ol, li {
				margin-top: 0.8ex;
				margin-bottom: 0.8ex;
			}
		}
		.welcome {
			text-align: center;
		}
		.caption {
			text-align: center;
			font-style: italic;
			font-size: 0.9em;
			margin-top: -1em;
		}
		h1 {
			font: bold 30pt/1.2 Free Sans, FreeSans, Helvetica, Arial, sans-serif;
			text-align: center;
		}
		h2 {
			font-size: 16pt;
		}
		pre, code {
			font-family: Consolas, Monaco, Droid Sans Mono, Bitstream Vera Sans Mono, DejaVu Sans Mono, Courier New, sans-serif;
		}
		table {
			margin: 0 auto;
			border-collapse: collapse;
		}
		.smalltoc {
			ul {
				display: block;
				list-style: none;
				font-size: 0.9em;
				line-height: 1.4;
				&, li {
					margin: 0; padding: 0;
				}
				li {
					display: inline;
					&, a {
						text-decoration: none;
					}
					a {
						white-space: nowrap;
					}
					margin-right: 10px;
				}
			}
		}
		.outline {
			font-size: 1.4em;
			ul {
				font-size: 0.9em;
			}
			.smalltoc {
				ul {
					font-size: (1em / 1.4);
				}
			}
			li {
				margin-bottom: 1em;
			}
		}
	}
}

@import "Themes/Default";
@import "Themes/thaiWitter";
